td, table {
  /*border-collapse: collapse;*/
}
table {
  border-radius: 5px;
  border: 1px solid #000;
  width: 300px;
  border-spacing: 0px;
}
td {
  padding: 0 0 0 5px;
  border-top: 1px solid #000;
}
th {
  font-size: 36px;
}
.indented {
  padding-left: 15px;
}
.vitamins {
  border-top: 10px solid black;
}
.daily-value {
  font-weight: bold;
  text-align: right;
}
.centered {
  text-align: center;
}
